*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
}
list{
   list-style-type: none;
   display: inline-block ;
}
.navbar{
    position: sticky;
    top:0;
}
body{
    background-color: #BD83B8;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    Font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    scroll-behavior: smooth;
}
nav
{   background-color: rgb(0,0,0,0.1);
    height: 80px; 
    width: 100%;
}
.logo
{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 50px;
    cursor: pointer;
}

nav ul{
    float: right;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-right: 60px;
}
nav ul li a{
    color: black;
    font-size: 22px;
}
a:hover{
    font-size: 1.8em;
}
#img
{
    padding-top: 100px;
    margin-right: 40px;
    margin: 1rem;
}
#aboutme
{
    color: black;
    margin-left: 40px;
    text-align: center;
    font-size: 30px;

}
#test1{
    color: black;
    letter-spacing: 12px;
    margin-top: 300px;
    padding:0px 200px;
    font-size: 65px;
}
.aboutme
{
    padding: 100px 0px;
}
#test2
{
    color: black;
    letter-spacing: 7px;
    font-size: 22px;
    padding-bottom: 200px;

}
.pbs{
    margin-left: 200px;
    padding: 150px 90px;

}

table tr th{
    /* padding-top: 260px; */
    color: black;
    font-size: 50px;
    letter-spacing: 10px;
    padding-left: 450px;
}
.pbsl{
    color: black;
    font-size: 40px;
    margin-right: 80px;
    padding-right: 50px;
}
#css:hover{
    height: 500px;
    width: 700px;
}
.HTML-5
{
    margin-left: 200px;
    padding: 0px 150px 90px 90px;
}
.html{
    color: black;
    font-size: 40px;
    margin-right: 80px;
    padding-right: 50px;
}
#html:hover
{
    height: 500px;
    width: 700px;
}
.cssu{
    margin-left: 200px;
    padding: 0px 150px 90px 90px;
}
.cssua{
    color: black;
    font-size: 40px;
    margin-right: 80px;
    padding-right: 50px;
}
#cssu:hover
{
    height: 500px;
    width: 700px;
}
.cssh
{
    margin-left: 200px;
    padding: 0px 150px 90px 90px;
}
.cssha{
    color: black;
    font-size: 40px;
    margin-right: 80px;
    padding-right: 50px;
}
#cssh:hover{
    height: 500px;
    width: 700px;
}
.insta:hover{
    height: 55px;
    width: 55px;
}
.linkedin:hover{
    height: 55px;
    width: 55px;
}
.fb:hover{
    height: 55px;
    width: 55px;
}
.contact-left
{
    padding-left: 70px;
    font-size: xx-large;
    flex-basis: 35%;
}
.contact-right
{
    text-align: right;
    padding-right: 35px;
}
